html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

div.banner {
  /* padding: 20px; */
  /* margin-top: 60px; */
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  /* border-color: #ec407a; */
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  /* color: #ec407a !important; */
}


.fixed-action-btn {
  position: absolute;
  right: 0%;
  bottom: 0%;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

/* I wrote below */
#white_board_wrapper{
  
  /* overflow-y: scroll;
  overflow-x: scroll; */

  width: 800px;

  overflow-y: scroll;
  overflow-x: scroll;
}
#white_board{
  border-style: ridge;

}
.leftColumn{
  width:20%;
}

#property_section{
  border-style: ridge;
}
.outContainer{
  
  display: flex;
}
.col{
  flex: 1;
  padding: 16px;
  height: 550px;
}

.zoomAndDimensionSection{
  border-style: ridge;
}
.saveSection{
  border-style: ridge;
}

.save_button{
  cursor: pointer;
  border-style: solid;
  border-radius: 5px;
  margin: 7px;
  text-align: center;

}
.close_button{
  cursor: pointer;
  border-style: solid;
  border-radius: 5px;
  margin: 7px;
  text-align: center;
}
#button_update_dimension{
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: 3px;
  text-align: center;
}

.add_element_section{
  border-style: ridge;
}
.add_element_icon{
  cursor: pointer;
}

#text_recent_work{
  font-size: xx-large;
  margin: auto;
}
.submit_button_in_modal{
  position: absolute;
  left:5%;
  top:75%;
}
.home_wireframer_link{
  display: inline-block;
}
.home_delete_button{
  display: inline-block;
}
#white_board{
  /* width:70%; */
  background-color: white;
  /* overflow-y: scroll;
  overflow-x: scroll;
  white-space: nowrap; */
  padding: 0;
  /* transform: scale(0.2); */
}
#name_input_field:hover{
  color:black;
}
#name_input_field{
  width:20%
}

.dimension_input_field{
  width: 10%;
  height: 20%;
  font-size: 12px;
  height: 2rem;
}


.selected_control{
  outline-width: 1px;
  outline-style: dashed;
  outline-color: red;
}
#zoom_in_button{
  cursor: pointer;
}
#zoom_out_button{
  cursor: pointer;
}
/* 
.left{
  width:90%
}
.right{
  width:10%;
} */